@model KamishibaServer.Models.Book

@{
    ViewData["Title"] = "Delete";
}

<h2>@Model.Title > 削除</h2>

<h3>本当に削除して宜しいですか？</h3>
<div>
    <hr />

    <div class="col-md-4 book-form-wrap">
        <div class="book-content">
            <div class="book-meta-content">
                <div class="edit-nav">
                    <form asp-action="Delete" style="display:inline">
                        <input type="hidden" asp-for="ID" />
                        <input type="submit" value="削除" class="btn btn-default" />
                    </form>
                    <a class="btn btn-default" asp-action="Details" asp-route-id="@Model.ID">戻る</a>
                </div>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.RegisterID)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.RegisterID)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.IDName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.IDName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Title)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Auther)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Auther)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Contact)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Contact)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.PageCount)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PageCount)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.PublishedDate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PublishedDate)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Tags)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Tags)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Sexy)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Sexy)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Vaiolence)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Vaiolence)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Grotesque)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Grotesque)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.LastUpdate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.LastUpdate)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.CreatedUpdate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CreatedUpdate)
                    </dd>
                </dl>

            </div>
            <div class="book-images-content">
                @for (var i = 0; i < Model.PageCount; i++)
                {
                    <div class="page-prev">
                        <img src="~/packages/@Model.IDName/@(i).jpg" class="page-prev-image" />
                    </div>
                }
            </div>
        </div>
    </div>

    
</div>
