@model KamishibaServer.Models.Book

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Book</h4>
    <hr />

    <div class="col-md-4 book-form-wrap">
        <div class="book-content">
            <div class="book-meta-content">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.RegisterID)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.RegisterID)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.IDName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.IDName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Title)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Auther)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Auther)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Contact)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Contact)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.PageCount)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PageCount)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.PublishedDate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PublishedDate)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Tags)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Tags)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Sexy)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Sexy)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Vaiolence)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Vaiolence)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Grotesque)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Grotesque)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.LastUpdate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.LastUpdate)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.CreatedUpdate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CreatedUpdate)
                    </dd>
                </dl>
            </div>
            <div class="book-images-content">
                @for (var i = 0; i < Model.PageCount; i++)
                {
                    <div class="page-prev">
                        <img src="/@Model.IDName/@(i).jpg" class="page-prev-image" />
                    </div>
                }
            </div>
        </div>
        <div class="nav-footer">
            <a class="btn btn-default" asp-action="Edit" asp-route-id="@Model.ID">編集</a> 
            <a class="btn btn-default" asp-action="Delete" asp-route-id="@Model.ID">削除</a> 
            <a  asp-action="Index">戻る</a>
        </div>
    </div>
</div>
