@model IEnumerable<KamishibaServer.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h2>同人誌一覧</h2>

<div class="pacs-wrap">

    <a href="/Books/Create">
        <div class="pac book-create-pac" >
            <div class="pac-thumb">
                <img src="/newbook.png" />
            </div>
            <div class="pac-meta">
                <h3>新しい同人誌を追加</h3>
                <p class="pac-meta-des">登録は1分で完了します</p>
            </div>
        </div>
    </a>
    @foreach (var item in Model)
    {
        <a href="/Books/Details/@item.ID">
            <div class="pac">
                <div class="pac-thumb">
                    <img src="/@item.IDName/0.jpg" />
                    <div>
                        <h4>AUDIO</h4>
                        <p>@item.AudioCount</p>
                    </div>
                </div>
                <div class="pac-meta">
                    <h3>@Html.DisplayFor(_ => item.Title)</h3>
                    <p class="pac-meta-auther">@Html.DisplayFor(_ => item.Auther)</p>
                    <p class="pac-meta-tag">タグ: <span>@Html.DisplayFor(_ => item.Tags)</span></p>
                    <p class="pac-meta-des">@Html.DisplayFor(_ => item.Description)</p>
                </div>
            </div>
        </a>
    }
</div>
