@model KamishibaServer.Models.Audio

@{
    ViewData["Title"] = "Delete";
}

<h2>@Model.Parent.Title > @Model.Title ♪ > 削除</h2>

<h3>本当に削除して宜しいですか？</h3>
<div>
    <hr />

    <div class="col-md-4 book-form-wrap">
        <div class="book-content">
            <div class="book-meta-content">
                <div class="edit-nav">
                    <form asp-action="Delete" style="display:inline">
                        <input type="hidden" asp-for="ID" />
                        <input type="submit" value="削除" class="btn btn-default" />
                    </form>
                    <a class="btn btn-default" asp-action="Details" asp-route-id="@Model.ID">戻る</a>
                </div>

                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.RegisterID)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.RegisterID)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.BookID)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.BookID)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Title)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.TrackTiming)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.TrackTiming)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.PublishedDate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PublishedDate)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.LastUpdate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.LastUpdate)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.CreatedUpdate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CreatedUpdate)
                    </dd>
                </dl>

            </div>

            <div class="book-images-content">

            </div>
        </div>
    </div>



</div>
